@using GymPlanner.Application.Models.Profile;
@model ProfileDto

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Профиль: @Model.Name</h2>
        </div>
        @if (Model.Name != User.Identity.Name)
        {
            <div class="col-6 text-right">
                <a asp-route-id="@Model.UserId" asp-controller="Chat" asp-action="FindDialog" class="btn btn-primary">Написать сообщение</a>
            </div>
        }
    </div>

    <br /><br />
    @if (Model.Plans.Count()>0){
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Элементы управления</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var plan in Model.Plans)
                {
                    <tr>
                        <td width="30%">@plan.Name</td>
                        <td class="text-center">
                            <div class="w-100 btn-group" role="group">
                                <a asp-route-Id="@plan.Id" asp-controller="Plan" asp-action="Details" class="btn btn-primary mx-2">Просмотр</a>
                                @if(User.Identity.Name == Model.Name || User.IsInRole("admin"))
                                {
                                    <a asp-route-id="@plan.Id" asp-controller="Plan" asp-action="Edit" class="btn btn-warning mx-2">Редактировать</a>
                                    <button class="btn btn-danger delete-plan" data-plan-id="@plan.Id">Удалить</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>У пользователя нет планов</p>
    }
</div>


@section Scripts
    {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.delete-plan').click(function () {
                var planId = $(this).data('plan-id');

                $.ajax({
                    url: '/Plan/DeletePlan',
                    type: 'DELETE',
                    data: { planId: planId },
                    success: function (response) {
                        console.log('Plan successfully deleted');
                        window.location.href = '/Plan/Index';
                    },
                    error: function (xhr, status, error) {
                        console.error('Error deleting plan:', error);
                    }
                });
            });
        });
    </script>
}