@using GymPlanner.Domain.Entities.Plans;
@model List<Plan>

@if (Model.Count() > 0)
{
    @foreach (var plan in Model)
    {
        <div class="row mb-4">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <img src="img/example.jpg" alt="@plan.Name" class="img-fluid mb-2" style="max-height: 200px;" />
            </div>
            <div class="col-lg-8 col-md-6 col-sm-12">
                <h3>@plan.Name</h3>
                <p>@plan.MenuDescription</p>
                @if (plan.Tags.Length != 0)
                {
                    <p>
                        Тэги:
                        @foreach (var tag in plan.Tags)
                        {
                            <span>@tag </span>
                        }
                    </p>
                }
                <div class="btn-group" role="group">
                    <a asp-route-Id="@plan.Id" asp-action="Details" class="btn btn-primary">Просмотр</a>
                    <a asp-route-Id="@plan.UserId" asp-controller="Profile" asp-action="Index" class="btn btn-primary">В профиль автора</a>
                    @if (User.IsInRole("admin"))
                    {
                        <a asp-route-id="@plan.Id" asp-action="Edit" class="btn btn-warning">Редактировать</a>
                        <button class="btn btn-danger delete-plan" data-plan-id="@plan.Id">Удалить</button>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    <p>Нет планов для отображения.</p>
}