@using GymPlanner.Application.Models.Plan;
@model PlanEditDto

<div class="border b3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="p1-3">@Model.Name</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Index" class="btn btn-primary w-50">Назад</a>
        </div>
    </div>
    <br /><br />
    @if (Model.ExerciseFrequencies.Count > 0)
    {
        <div class="row">
            <div class="col-16">
                <table class="table table-bordered border-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td>Упражнения/Дни</td>
                            @for (int i = 0; i < Model.Frequencies.Count; i++)
                            {

                                <td>@Model.Frequencies[i].Name</td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Exercises.Count; i++)
                        {
                            <tr>
                                <td>@Model.Exercises[i].Name</td>
                                @for (int j = 0; j < Model.Frequencies.Count; j++)
                                {
                                    int index = j * (Model.Exercises.Count) + i;
                                    <td>@Model.ExerciseFrequencies[index].Description</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.FullDescription != null)
        {
            <h5>Описание плана:</h5>
            <p>@Model.FullDescription</p>
        }
    }
    else
    {
        <p>План не заполнен</p>
    }
    <br /><br />
    <h5>Комментарии:</h5>
</div>
