@using GymPlanner.Domain.Entities.Plans;
@model Plan
@{
    var frequencies = Model.planExcersiseFrequencies.Select(p => p.Frequency).ToList();
    var excersises = Model.planExcersiseFrequencies.Select(p => p.Excersise).ToList();
    List<PlanExcersiseFrequency> pefList = new();
}
<form method="post" asp-action="Edit">
    <input asp-for="UserId" hidden />
    <div class="border b3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="p1-3">Редактирование плана</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-action="Index" class="btn btn-primary w-50">Назад</a>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-16">
                <table class="table table-bordered border-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td>Упражнения/Дни</td>
                            @for (int i = 0; i<frequencies.Count(); i++)
                            {
                                <input asp-for="@frequencies[i].Id" hidden>
                                <td><input asp-for="@frequencies[i].Name" /></td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < excersises.Count(); i++)
                        {
                            <tr>
                                <td><input asp-for="@excersises[i].Name" /></td>
                                <input asp-for="@excersises[i].Id" hidden />
                                @for (int j = 0; j < frequencies.Count(); j++)
                                {
                                    var obj = pefList.FirstOrDefault(pef => pef.Frequency == frequencies[i] && pef.Excersise == excersises[j]);
                                    <td><input asp-for="@obj.Description" /></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="addRow" class="btn btn-secondary">Добавить упражнение</button>
                        <button type="button" id="addColumn" class="btn btn-secondary">Добавить частоту</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Обновить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        //Этот код нуждается в правках. Может быть вообще переписан полностью.
        document.addEventListener('DOMContentLoaded', function () {
            var addRowButton = document.getElementById('addRow');
            var addColumnButton = document.getElementById('addColumn');
            var table = document.querySelector('.table');
            var rowCount = table.rows.length;
            var columnCount = table.rows[0].cells.length;

            addRowButton.addEventListener('click', function () {
                var newRow = table.insertRow(-1);
                var newCell = newRow.insertCell(0);
                newCell.innerHTML = '<input placeholder="Упражнение" asp-for="excersises[' + rowCount + '].Name" />';

                for (var i = 1; i < columnCount; i++) {
                    var newCell = newRow.insertCell(i);
                    newCell.innerHTML = '<input type="text" placeholder="Описание" name="planExcersiseFrequencies[' + (rowCount - 1) + '].Description" />';
                }

                rowCount++;
            });

            addColumnButton.addEventListener('click', function () {
                // Добавление новой ячейки в заголовок таблицы
                var headerRow = table.rows[0];
                var newHeaderCell = headerRow.insertCell(-1);
                newHeaderCell.innerHTML = '<input type="text" placeholder="Частота" name="frequencies[' + columnCount + '].Name" />';

                // Добавление ячейки с input для каждой строки в таблице
                for (var i = 1; i < rowCount; i++) {
                    var newCell = table.rows[i].insertCell(-1);
                    newCell.innerHTML = '<input type="text" placeholder="Описание" name="planExcersiseFrequencies[' + (i - 1) + '].Description" />';
                }

                columnCount++;
            });

        });
    </script>

}