@using GymPlanner.Application.Models.Plan;
@model PlanEditDto

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<form method="post" asp-action="Edit">
    <div class="border b3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="PlanId" hidden />
        <input asp-for="UserId" hidden />
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="p1-3">Редактирование плана</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-action="Index" class="btn btn-primary w-50">Назад</a>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Name">Имя плана</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <br /><br />

        <div class="row">
            <div class="col-16">
                <table class="table table-bordered border-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td>Упражнения/Дни</td>
                            @for (int i = 0; i < Model.Frequencies.Count; i++)
                            {
                                <input asp-for="@Model.Frequencies[i].Id" hidden />
                                <td><input asp-for="@Model.Frequencies[i].Name"></td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Exercises.Count; i++)
                        {
                            <tr>
                                <input asp-for="@Model.Exercises[i].Id" hidden />
                                <td><input asp-for="@Model.Exercises[i].Name"/></td>
                                @for(int j = 0; j < Model.Frequencies.Count; j++)
                                {
                                    int index = j*(Model.Exercises.Count)+i;
                                    <input asp-for="@Model.ExerciseFrequencies[index].ExerciseId" hidden/>
                                    <input asp-for="@Model.ExerciseFrequencies[index].Id" hidden />
                                    <input asp-for="@Model.ExerciseFrequencies[index].FrequencyId" hidden />
                                    <td><input asp-for="@Model.ExerciseFrequencies[index].Description" /></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="addRow" class="btn btn-secondary">Добавить упражнение</button>
                        <button type="button" id="addColumn" class="btn btn-secondary">Добавить частоту</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Обновить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#addRow').click(function () {
                var planId = '@Model.PlanId';

                // Вызов метода AddExerciseModal с передачей PlanId
                $.get('/Plan/AddExerciseModal', { planId: planId }, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#addColumn').click(function () {
                var planId = '@Model.PlanId';

                // Вызов метода AddFrequencyModal с передачей PlanId
                $.get('/Plan/AddFrequencyModal', { planId: planId }, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });
    </script>
}