@using GymPlanner.Application.Models.Plan;
@model PlanEditDto

<form method="post" asp-action="Edit">
    <input asp-for="PlanId" hidden />
    <div class="border b3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="p1-3">Редактирование плана</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-action="Index" class="btn btn-primary w-50">Назад</a>
            </div>
        </div>

        <br /><br />

        <div class="row">
            <div class="col-16">
                <table class="table table-bordered border-primary" style="width:100%">
                    <thead>
                        <tr>
                            <td>Упражнения/Дни</td>
                            @for (int i = 0; i < Model.Frequencies.Count(); i++)
                                {
                                <input asp-for="@Model.Frequencies[i].Id" hidden>
                                <td><input asp-for="@Model.Frequencies[i].Name" /></td>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Excersises.Count(); i++)
                        {
                            <tr>
                                <td><input asp-for="@Model.Excersises[i].Name" /></td>
                                <input asp-for="@Model.Excersises[i].Id" hidden />
                                @for (int j = 0; j < Model.Frequencies.Count(); j++)
                                {
                                    var obj = Model.Frequencies.Count();
                                    var index = j + (i * (Model.Excersises.Count()));
                                    <input asp-for="@Model.PlanExcersiseFrequencies[index].ExcersiseId" hidden/>
                                    <input asp-for="@Model.PlanExcersiseFrequencies[index].FrequencyId" hidden/>
                                    <td><input asp-for="@Model.PlanExcersiseFrequencies[index].Description" value="@Model.PlanExcersiseFrequencies.FirstOrDefault(pef=>pef.Frequency==Model.PlanExcersiseFrequencies[j].Frequency&&pef.Excersise==Model.PlanExcersiseFrequencies[i].Excersise).Description" /></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-12">
                        <button type="button" id="addRow" class="btn btn-secondary">Добавить упражнение</button>
                        <button type="button" id="addColumn" class="btn btn-secondary">Добавить частоту</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Обновить" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>
        //Этот код нуждается в правках. Может быть вообще переписан полностью.
        document.addEventListener('DOMContentLoaded', function () {
            var addRowButton = document.getElementById('addRow');
            var addColumnButton = document.getElementById('addColumn');
            var table = document.querySelector('.table');
            var rowCount = table.rows.length;
            var columnCount = table.rows[0].cells.length;

            addRowButton.addEventListener('click', function () {
                var newRow = table.insertRow(-1);
                var newCell = newRow.insertCell(0);
                newCell.innerHTML = '<input placeholder="Упражнение" name="PlanExcersiseFrequencies[' + (rowCount - 1) + '].Excersise.Name" />';

                for (var i = 1; i < columnCount; i++) {
                    var newCell = newRow.insertCell(i);
                    newCell.innerHTML = '<input type="text" placeholder="Описание" name="PlanExcersiseFrequencies[' + ((i - 1) + ((rowCount - 1) * (columnCount - 1))) + '].Description" />';
                }

                rowCount++;
            });

            addColumnButton.addEventListener('click', function () {
                // Добавление новой ячейки в заголовок таблицы
                var headerRow = table.rows[0];
                var newHeaderCell = headerRow.insertCell(-1);
                newHeaderCell.innerHTML = '<input type="text" placeholder="Частота" name="PlanExcersiseFrequencies[' + (columnCount - 1) + '].Frequency.Name" />';

                // Добавление ячейки с input для каждой строки в таблице
                for (var i = 1; i < rowCount; i++) {
                    var newCell = table.rows[i].insertCell(-1);
                    newCell.innerHTML = '<input type="text" placeholder="Описание колонк" name="PlanExcersiseFrequencies[' + ((i - 1) + ((rowCount - 1) * (columnCount - 1))) + '].Description" /><input name="PlanExcersiseFrequencies[' + ((i - 1) + ((rowCount - 1) * (columnCount - 1))) + '].Frequency" hidden/><input name="PlanExcersiseFrequencies[' + ((i - 1) + ((rowCount - 1) * (columnCount - 1))) + '].Excersise" hidden/><input name="PlanExcersiseFrequencies[' + ((i - 1) + ((rowCount - 1) * (columnCount - 1))) + '].Plan" hidden/>';
                }

                columnCount++;
            });

        });
    </script>
}