@using GymPlanner.Domain.Entities.Plans;
@model List<Plan>

<div class="container pt-4">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">Список планов</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-action="Create" class="btn btn-primary">Добавить новый план</a>
        </div>
    </div>

    <br /><br />

    <div class="searchPlans">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Фильтр по тегам" aria-label="Фильтр по тегам" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Применить</button>
                    <label class="input-group-text" for="inputSortBy">Сортировка по:</label>
                    <select class="form-select" id="inputSortBy">
                        <option selected>Выбор...</option>
                        <option value="Rating">Рейтинг</option>
                        <option value="CommentCount">Количество комментариев</option>
                        <option value="CreatedDate">Дата создания</option>
                    </select>
                </div>
            </div>
        </div>
    </div>



    @if (Model.Count() > 0)
    {
        @foreach (var plan in Model)
        {
            <div class="row mb-4">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <img src="img/example.jpg" alt="@plan.Name" class="img-fluid mb-2" style="max-height: 200px;" />
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <h3>@plan.Name</h3>
                    <p>@plan.MenuDescription</p>
                    <div class="btn-group" role="group">
                        <a asp-route-Id="@plan.Id" asp-action="Details" class="btn btn-primary">Просмотр</a>
                        <a asp-route-Id="@plan.UserId" asp-controller="Profile" asp-action="Index" class="btn btn-primary">В профиль автора</a>
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-route-id="@plan.Id" asp-action="Edit" class="btn btn-warning">Редактировать</a>
                            <button class="btn btn-danger delete-plan" data-plan-id="@plan.Id">Удалить</button>
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('.delete-plan').click(function () {
            var planId = $(this).data('plan-id');

            $.ajax({
                url: '/Plan/DeletePlan',
                type: 'DELETE',
                data: { planId: planId },
                success: function (response) {
                    console.log('Plan successfully deleted');
                    window.location.href = '/Plan/Index';
                },
                error: function (xhr, status, error) {
                    console.error('Error deleting plan:', error);
                }
            });
        });
    });
</script>